*.pyc
**/__pycache__
*.log
*.out
*.tex
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz
doc/example/*.txt
doc/example/output
**/figures
.vscode/settings.json
dist/*
plugins/vscode-zen-knit/node_modules/*
plugins/vscode-zen-knit/dist/*
*.vsix
